/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public
/assets
/bootstrap
/images
/media
/nbproject
/pharmacy
!/resourcesresources/views/admin
!/resourcesresources/views/init
/storage
/slider
/symptom-checker
/TeleHealth
/vendor
.env
php.init
php.ini
php.ini-1574951164
robots.txt
sitemap.xml
/artisan
/changes
.editorconfig
CHANGELOG.txt
INSTALL.mysql.txt
INSTALL.pgsql.txt
/error_log
googledf7c49421ca53cb8.html
.gitattributes
.htaccess
config/
index.php
